.clase {
  background-color: aqua;
}

#img {
  width: 400px;
}

li {
  color: purple;
}

li:hover {
  color: royalblue;
  user-select: none;
}

b {
  font-size: 30px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header {
  background-color: rebeccapurple;
  padding: 10px 20px;
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header h1 {
  margin: 0px;
}

.card {
  text-align: justify;
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  transition: ease 1s all;
  box-sizing: border-box;
}

.card:hover {
  background-color: rebeccapurple;
  color: white;
  transform: rotate(30deg);
}

.footer {
  background-color: rebeccapurple;
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 0px;
}

.footer input {
  width: 500px;
}

.footer div {
  display: flex;
  flex-direction: column;
}

.mygrid {
  display: grid;
  grid-template-areas: "sidebar  contenido  sidebar2 ";
  grid-template-columns: 200px 1fr 300px;
  height: 800px;
  justify-content: center;
}

.sidebar {
  grid-area: sidebar;
}

.contenido {
  grid-area: contenido;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar2 {
  grid-area: sidebar2;
}
